// Grid system
.main {
  background-color: #8c8c8c;
  color: white;
  @include make-col-ready();
  @include media-breakpoint-up(sm) {
    @include make-col($main-sm-columns);
    .sidebar-primary & {
      @include make-col($main-sm-columns - $sidebar-sm-columns);
    }
  }
  @include media-breakpoint-up(md) {
    @include make-col($main-md-columns);
    .sidebar-primary & {
      @include make-col($main-md-columns - $sidebar-md-columns);
    }
  }
}

.sidebar {
  background-color: lightgray;
  @include make-col-ready();
  @include media-breakpoint-up(sm) {
    @include make-col($sidebar-sm-columns);
  }
  @include media-breakpoint-up(md) {
    @include make-col($sidebar-md-columns);
  }
}
