// Grid settings
$enable-flex:           true;
$main-sm-columns:       12;
$sidebar-sm-columns:    4;
$main-md-columns:       9;
$sidebar-md-columns:    3;


// Colors
$brand-primary:         #27ae60;
